section {
    &.fuel-test {
        display: flex; 
        transform: translateY(5rem);

        .fuel-test {
            &-left-nav {
                background-image: linear-gradient( to bottom, $color-2, #111);
                color: #ddd; 
                overflow-x: hidden;
                width: 25rem;

                center {
                    img {
                        border-radius: 0.5rem 1.5rem;
                        margin-top: 3rem;
                    }
                }
                
                ul {
                    a {
                        color: #eee;

                        li {
                            align-items: center;
                            display: flex; 
    
                            &:hover {
                                background: darken($color: $color-2, $amount: 2);
                                border-radius: 0 0.5rem 1rem 0;
                                cursor: pointer;
                            }
                            
                            em {
                                margin-left: 1rem;
                            }
                        }
                    }

                    li {  
                        font-family: "Poppins", sans-serif;
                        letter-spacing: .09rem; 
                        padding: 1rem;
    
                        &.active-dashboard {
                            background: darken($color: $color-2, $amount: 2); 
                            border-left: 7px solid;
                            border-radius: 0 0.5rem 1rem 0; 
                        }

                        svg {
                            fill: darken($color: $color-1, $amount: 10);
                            height: 1.4rem;
                            margin-right: 1.5rem;
                            width: 1.4rem;
                        }
                    }
                }
            }
            
            &-left-nav,
            &-main {
                height: 90vh;
                padding: 1rem 1rem 7rem;
                
                li {
                    &.active-bg {

                    }                            
                }
                
                a { 
                    color: $color-2;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.1rem;
                    text-decoration: none;
                }
            }

            &-main {
                overflow-x: hidden;
                position: relative;
                width: 80vw;

                .form {
                    background: #f9f9f9;
                    border-radius: .3rem;
                    box-shadow: 1px 2px 19px #ddd;
                    display: flex;
                    justify-content: center;
                    margin-block: 1rem;
                    padding: 1rem;

                    div {
                        align-items: center;
                        background: #fff; 
                        border-radius: 0.5rem;
                        display: flex;
                        margin: .4rem;
                        padding: 0.5rem;
                        position: relative;
                        width: 42rem;

                        &:last-of-type {
                            background: unset;
                            box-shadow: unset;
                            justify-content: center;
                            margin-block: 1.5rem;
                            width: 100%;
                        }

                        &.Survey {
                            display: unset;
                            padding: unset;

                            div {
                                margin: unset;

                                &:last-of-type {
                                    display: unset;

                                    h2 {
                                        color: $color-2;
                                        border-bottom: 1px solid #eee;
                                        font-family: initial;
                                        font-size: 1.5rem;
                                        margin-bottom: 1rem;
                                        padding-left: 1rem;
                                    }

                                    hr {
                                        color: #eee;
                                    }

                                    p {
                                        padding-left: 1rem;

                                        span {
                                            &:first-of-type {
                                                display: inline-block;
                                                margin-right: 2rem;
                                                width: 8rem;
                                            } 
                                        }
                                    }
                                }
                            }
                        }
 
                        select {
                            border: 3px solid #999;
                            width: 100%;
                        }

                        section {
                            background: #fff;
                            box-shadow: 1px 2px 19px #bbb;
                            display: none;
                            max-height: 27rem;
                            overflow-x: hidden;
                            padding: 1.5rem;
                            position: absolute;
                            left: 14rem;
                            top: 5rem;
                            width: 28rem;
                            z-index: 1;
 
                            ul {
                                h2 {
                                    @extend .page-title;
                                    align-items: center;  
                                    border-bottom: 2px solid #eee;
                                    display: flex;
                                    font-size: 2rem;
                                    justify-content: space-between;
                                    margin-bottom: 1rem;
                                    padding-block: 1rem;  
                                }
                                
                                li { 
                                    align-items: center;
                                    border-bottom: 1px solid $color-1;
                                    border-left: 3px solid #fff;
                                    display: flex;
                                    color: #333; 
                                    font-size: 1.25rem;
                                    justify-content: space-between;
                                    padding-block: .5rem;
                                    text-transform: capitalize;
                                    width: 100% !important;

                                    
                                    &.Rejected {
                                        color: red;
                                    }
                                                                        
                                    &.Approved {
                                        color: #00592e;
                                    }
                                                                        
                                    &.Waved {
                                        color: lighten($color: orange, $amount: 20);
                                    }
                                    
                                    &.Bright {
                                        @include AppearanceResult();
                                        border-radius: unset;

                                        span {
                                            background: green;
                                        }
                                    }

                                    &.Clear {
                                        @include AppearanceResult();
                                        background: rgb(191 191 1 / 17%);
                                        border-radius: unset;
                                        color: #abab00;

                                        span {
                                            background: #abab00;
                                        }
                                    }
                                    
                                    &.Bright,
                                    &.Clear,
                                    &.Muddy {
                                        padding-right: 1rem;
                                     }

                                    &:hover {
                                        background: lighten($color: #eee, $amount: 1);
                                        border-left: 3px solid $color-2;
                                        cursor: pointer;
                                        padding-left: 1rem;
                                        transition: .5s;
                                    }

                                    &.Muddy {
                                        @include AppearanceResult();
                                        background: #00828f1c;
                                        border-radius: unset;
                                        color: #00bccf;

                                        span {
                                            background: #00bccf;
                                        }
                                    }

                                    p {
                                        color: unset; 
                                        color: $color-2; 
                                        position: unset;
                                        transform: unset;
                                        width: 15rem;
                                    }

                                    span {
                                        border-radius: 1rem;
                                        color: $color-3;
                                        padding: .5rem;
                                        margin-left: 1rem;
                                        text-align: center;
                                        width: 5rem;
                                    }
                                }
                            }

                            &.ToggleList {
                                display: block;
                            }
                        }

                        svg {
                            fill: lighten($color-2, 10);
                            width: 3rem;

                            &:hover {
                                cursor: pointer;
                                fill: lighten($color: $color-2, $amount: 60);
                            }
                        }
                    }

                    form {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }

                    input,
                    h3 {
                        border: 1px solid #ccc;
                        border-radius: 0.5rem 1rem;
                        color: $color-2;
                        outline: none;
                        padding: 1rem;
                        width: 100%;
                        
                        &[placeholder="Vendor No..."],
                        &[placeholder="Name of VENDOR..."] {
                            &:first-of-type {
                                width: 40%;
                                margin-right: 1rem;
                            }
        
                            &:last-of-type {
                                width: 53%;
                            }
                        }

                        &:focus {
                            border-bottom: 3px solid $color-2;
                        }
                        &[name="SampleNo"],
                        &[name="TruckPlateNo"],
                        &[name="Temp"],
                        &[name="WaterSediment"],
                        &[name="VendorNo"],
                        &[name="Remarks"] {
                            border: none; 
                            border-bottom: 1px solid $color-2;
                            border-radius: unset;
                        }
                         
                        &[name="FlashPoint"] { 
                            color: darken(#00bccf, 10);
                            font-style: italic;
                        }                            
                         
                        &[name="TankNo"] {
                            color: #f33f3f;
                            font-style: italic;
                        }   
                         
                        &[name="TruckPlateNo"] {
                            color: darken(#00bccf, 10);
                            font-style: italic;
                        }   

                        &[name="SampleNo"] {
                            border-bottom: 3px solid $color-2;
                            color: #00828f;
                            cursor: pointer;
                        }
                    
                        &:focus {
                            border-bottom: 3px solid $color-2;
                        }

                        &.select,
                        &[type="date"] {
                            background: #eee;
                            border: none;
                            border-radius: unset;
                            cursor: pointer;
                        }
 
                        &[type="date"] {
                            background: lighten($color-1, 5); 
                            color: #f33f3f; 
                        }
                    }

                    label { 
                        border-radius: .3rem;
                        color: $color-2;
                        display: block;
                        margin-right: 1rem;
                        padding: 1rem; 
                        width: 37%;

                        // &[for="Color"],
                        // &[for="AppearanceResult"] {
                        //     margin-right: 0;
                        // }
                    }
                } 

                section { 
                    form { 
                        background: #fff;
                        padding: 0 1rem 1rem;
                        width: fit-content;
                        
                        button {
                            margin-right: 0.2rem;
                        }

                        input { 
                            border: 1px solid #ccc;
                            border-radius: 0.3rem;
                            color: #483434;
                            font-style: italic; 
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;
                            outline: none;
                            padding: 0.2rem 1rem;
                        }

                        span {
                            margin-right: 0.5rem;

                            img {
                                margin-right: 0.5rem;
                                translate: 0 1rem;
                                width: 3rem;
                            }
                        }
                    }

                    &.GetRecordSection {
                        align-items: center;
                        background: #f2f2f2;
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem;   

                        form {
                            img {
                                translate: 0 1rem;
                                width: 2.5rem;
                            }

                            input[type='submit'] {
                                background: #222;
                                border: none;
                                color: #fff;
                                cursor: pointer;
                            }
                        }                     
                    }
                }

                .record-created-alert,
                .record-updated-alert {
                    @include alert();
                }
            }
        }
    }
}

@media (max-width: 1047px) {
    section {
        &.fuel-test {
            .fuel-test-main {
                .form {
                    div {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    section {
        &.fuel-test {
            .fuel-test-main {
                width: unset;
            }
        }
    }
}

@media (max-width: 740px) {
    section {
        &.fuel-test {
            .fuel-test-main {
                .form {
                    div {
                        flex-wrap: wrap;

                        select {
                            border: none;                            
                            border-radius: 0;
                            margin-block: 2rem;
                        }
                    }
                    
                    input { 
                        margin-block: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 541px) {
    section {
        &.fuel-test {
            .fuel-test-main {
                .form {
                    label { 
                        width: max-content;
                    }
                }
            }
        }

        &.previous-records {
            table {
                tr {
                    td {
                        font-size: 10px;
                        width: 10rem;

                        &.appearance-result {
                            margin: auto;
                        } 

                        p[class] {
                            font-size: 10px;
                            padding: 0;
                            width: 5rem;    
                        }

                        &.remarks {
                            width: 30rem;
                        }
                    }

                    th {
                        font-size: 10px;
                        width: 8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 399px) {
    section {
        &.fuel-test {
            .fuel-test-main {
                h1 {
                    font-size: 3.2rem;
                }
            }
        }
    }
}