.analysis {
    margin-top: 10rem !important;
}

.chart-date {
    top: 6rem;
} 
 
#fuel-test-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.fuel-test-dashboard-inner {
    background: #fff;
    margin-block: 5rem;
}

.insights {
    background: #f9f9f9;
}