.analysis {
    margin-top: 10rem !important;
}

.chart-date {
    top: 6rem;
} 
 
#fuel-test-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.fuel-test-dashboard-inner {
    background: #fff;
    margin-block: 5rem;

    div {
        p {
            display: flex;

            span {
                &:nth-of-type(1) {
                    margin-right: 2rem;
                    width: 6rem;
                }
            }
        }
    }
}

.insights {
    background: #f9f9f9;
}