.analysis {
    // margin-top: 3rem;
}

div {
    &:target {
      padding-top: 13rem;
    }
}

.chart-date {
    top: 6rem;
} 
 
.filter-vendor-stats {
    margin-bottom: unset;
    // margin-top: 8rem;
    margin: 8rem auto;
    width: 60rem;

    form {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 0.5rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;

    p {
        width: 70rem;
    }
}

#fuel-test-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    &.reveal-vendors-padding-top {
        padding-top: 1rem;
    }

    .reveal-vendors {
        cursor: pointer;
        font-style: italic;
        text-decoration: underline;

        &:hover {
            color: #999;
        }
    }
}

.fuel-test-dashboard-inner {
    background: #fff;
    padding-inline: 1rem;
    margin-bottom: 2rem;

    div {
        color: #333;
        padding-block: 1rem;

        p {
            display: flex;

            span {
                &:nth-of-type(1) {
                    margin-right: 2rem;
                    width: 16rem;
                }
    
                &.Failed { color:rgb(255, 30, 30, 0.8); }     
                &.Passed { color:rgba(58, 204, 177, 0.8); } 
                &.Waved { color:rgba(173, 173, 49, 0.95); } 

                &.Failed,
                &.Passed,
                &.Waved {
                    border: 1px solid #eee;
                    padding-inline: 1em;
                    width: 8rem;
                }
                
                &.Total { 
                    width: 6rem;
                }
            }
        }
    }
      
    h1 {
        border-bottom: 1px solid #eee;
        font-family: initial;
        font-size: 2rem;
        margin-bottom: 1rem;
    }  
}

.insights {
    background: #f9f9f9;
}

#myChart6,
#myChart7 {
    width: 95vw !important;
}

.Title {
    margin-top: 8rem;
    text-align: center;

    h1 {
        font-family: arial;
        font-size: 2rem;
    }

    h2 {
        font-family: initial;
    }
}

@media (min-width: 1825px) {
    #fuel-test-dashboard {
        width: 90%;
    }
}